/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	.logo .responsiveimg {
		width: 18vw;
	}
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	.logo .responsiveimg {
		width: 28vw;
	}

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.1em;
		line-height: 1;
	}
	h2 {
		font-size: 2em;
		line-height: 1.1;
	}
	h3 {
		font-size: 1.8em;
	}

	/* ---------------------------------
	3. MAIN SECTION
	--------------------------------- */

	.main-area-wrapper {
		padding: 10px;
	}
	.main-area {
		height: calc(100vh - 185px);
		background-image: url("../images/background_small@2x.jpg");
	}
	footer {
		height: 165px;
		margin-top: 10px;
	}
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
	.logo {
		margin: 2em 0 4em 0;
	}
	.logo .responsiveimg {
		width: 45vw;
	}
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body {
		font-size: 16px;
	}

	/* ---------------------------------
	3. MAIN SECTION
	--------------------------------- */

	.main-area {
		height: calc(100vh - 215px);
		background-image: url("../images/background_small@2x.jpg");
	}
	footer {
		height: 195px;
		margin-top: 10px;
		padding: 25px 15px;
	}
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	.logo {
		margin: 2em 0 2em 0;
	}
	.logo .responsiveimg {
		width: 50vw;
	}
	.main-area {
		height: calc(100vh - 210px);
	}
	footer {
		height: 190px;
	}
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	.logo .responsiveimg {
		width: 50vw;
	}
	.main-area {
		height: calc(100vh - 190px);
	}
	footer {
		height: 155px;
	}
}
